* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease 0.2s;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.box-shadow{
    box-shadow:  0 0 1rem 0 black;
 }

body {
    width: 100%;
    height: 100%;
    background-image: url("/Blog/images/background.png");
    box-shadow: inset 0 0 20rem 5rem black;
    background-repeat: round;
    
}

header {
    top: 0;
    width: 70%;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: center;
    width: 100%;

}

.navigation nav {
    width: 100%;
    margin-top: 2rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    background-color: #d6d6d67d;
}

.navigation nav ul {
    display: flex;
    width: 100%;
    height: 100%;
}

.navigation nav ul li {
    flex: auto;
    text-align: center;

}

.navigation ul li a {
    display: block;
    color:white;
    line-height: 5vh;
    font-size: 2rem;
    font-weight: 700;
    filter: drop-shadow(0.2rem 0.4rem 0.6rem black);
}

.navigation ul li:first-child {
    border-bottom-left-radius: 5rem;
}

.navigation ul li:last-child {
    border-top-right-radius: 5rem;
}

.navigation ul li:hover {

    background-color: #f26d6d7d;
}

.navigation ul li a:hover {
    color: #EBEEF2;
}


main{
    margin-top: 3rem;
}

.container {
    display: flex;
    width: 100%;
    margin: 2rem auto;
    justify-content: center;
    min-height: 70vh;
}

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    background-color: #d6d6d67d;
    padding: 2rem 1rem;
    align-items: center;
}

.content p {
    font-size: 1.6rem;
    padding: 1rem 1rem 0.1rem 1rem;
    width: 100%;
}

.content img {
    width: 20rem;
    margin: 3rem;

}

.container iframe {
    width: 45rem;
    height: 22.5rem;
    margin: 1rem;
}
.video{
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    width: 45%;
    margin: 1rem;
    padding: 3rem 2rem;
    border-radius: 5rem;
    background-color: #d6d6d6;
}

.box-link{
    border-top: 0.1rem solid #0D0D0D;
    padding-top: 1rem;
    margin: 1rem;
}

.box-link a{
    color: #0D0D0D;
    font-size: 1.6rem;
}
.box-link a:hover i{
    color: #2dba4e;
}

.images{
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center ;
}
.images img{
    max-width: 100rem;
    width: 80%;
}


.footer-container {
    display: flex;
    width: 100%;
    padding: 5rem 0 1rem 0;
    justify-content: center;
    min-height: 10vh;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    background-color: #d6d6d67d;
    justify-content: space-between;
}

.footer-navigation {
    margin: 4rem;
    width: 10%;
}

.footer-navigation h2 {
    color: white;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    
    filter: drop-shadow(0.2rem 0.4rem 0.6rem black);
}

.footer-navigation ul li {
    border-bottom: 0.1rem solid transparent;

}

.footer-navigation ul li:hover {
    border-color: #F26D6D;
}

.footer-navigation a {
    display: block;
    color: white;
    padding: 0.3rem;
    font-size: 1.4rem;
    filter: drop-shadow(0.2rem 0.4rem 0.6rem black);
}
.footer-navigation a i{
    font-size: 1.2rem;
    margin-right: 0.3rem;
}
.footer-media-icons {
    width: 30%;
    font-size: 3rem;
    padding: 2rem;
    margin: 2rem;
    text-align: right;
}
.footer-media-icons a{
    color:white;
    
    filter: drop-shadow(0.2rem 0.4rem 0.6rem black);
}

.footer-media-icons a:hover{
    color: #0D0D0D;
}



.footer-copyright {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    filter: drop-shadow(0.2rem 0.4rem 0.6rem black);
}